.flowerCardContainer {
    margin: 20px;
    padding: 20px;
    border: 3px dotted #0DBE98;
}

.flowerCardButton {
    text-transform: uppercase;
    margin: 0;
    border: 0;
    background-color: transparent;
    text-decoration: underline;
    color: white;
    text-decoration-color: #0DBE98;
    font-size: 20px;
    font-weight: bold;
}

.flowerImage {
    width: 200px;
    height: auto;
}