.mainContainer {
  text-align: center;
}

.header {
  background-color: #1a1a1a;
  margin-top: 0;
  padding: 20px;
}

.addButton {
  text-transform: uppercase;
  margin: 0;
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  color: white;
  text-decoration-color: #0DBE98;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

